@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Freeman&family=Jersey+25&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

.main {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-Global.png);
  background-size: cover;
  width: 100%;
  height: 115vh;
}

nav {
  display: flex;
  justify-content: space-around;
  gap: 190px;
  padding-top: 10px;
  align-items: center;
}
.btn {
  margin: 10px;
  border: none;
  background-color: rgb(23, 23, 23, 0);
  font-size: 15px;
}
.btn-s {
  display: flex;
}
.btn:hover {
  border: none;
  background-color: rgba(23, 23, 23, 0.1);
  transition: background-color 0.5s, color 0.6s;
  border-radius: 5px;
  padding: 15px;
  margin: -5px;
}
.headings {
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 10;
  gap: 20px;
  padding: 0px 23px;
}
.headings > :first-child {
  font-size: 30px;
  font-family: Roboto;
}
.headings > :nth-child(2) {
  font-size: 15px;
  font-family: Roboto Mono;

  text-underline-offset: auto;
}
.headings > :nth-child(3) {
  font-size: 10px;
  font-family: Roboto Mono;
}
.sec-btn {
  padding-left: 410px;
  padding-top: 200px;
}
.btn-o {
  margin: 10px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}
.btn-o:hover {
  border: none;
  background-color: rgba(10, 224, 206, 0.1);
  transition: background-color 0.5s, color 0.6s;
}
.sec-btn > :first-child {
  padding: 10px 90px;
}
.sec-btn > :nth-child(2) {
  padding: 10px 90px;
}
.sec-btn button:first-child {
  color: rgb(0, 0, 0); /* Initial text color */
  transition: color 0.3s ease; /* Smooth transition effect */
  background-color: white;
}
.sec-btn button:nth-child(2) {
  color: white; /* Initial text color */
  transition: color 0.3s ease; /* Smooth transition effect */
  background-color: black;
}

.sec-btn button:first-child:hover {
  background-color: rgb(172, 188, 202);
  cursor: pointer;
}

.sec-btn button:nth-child(2):hover {
  background-color: rgba(23, 23, 23, 0.9);
  cursor: pointer;
}
.main-2 {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-LHD-v2.jpg);
  background-size: cover;
  width: 100%;
  height: 115vh;
}
.main-3 {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-v2.jpg);
  background-size: cover;
  width: 100%;
  height: 115vh;
}
.main-4 {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-v2.jpg);
  background-size: cover;
  width: 100%;
  height: 115vh;
}

.main-5 {
  background-image: url(https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop.jpg);
  background-size: cover;
  width: 100%;
  height: 115vh;
}
.main-6 {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Desktop);
  background-size: cover;
  width: 100%;
  height: 115vh;
}
.main-7 {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-SolarRoof-Desktop-Global);
  background-size: cover;
  width: 100%;
  height: 115vh;
}
.main-8 {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-01-Desktop.jpg);
  background-size: cover;
  width: 100%;
  height: 115vh;
}
.main-9 {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-NA-APAC.jpg);
  background-size: cover;
  width: 100%;
  height: 115vh;
}
.sec-btn-1 {
  padding-left: 410px;
  padding-top: 250px;
}
.sec-btn-2 {
  padding-left: 550px;
  padding-top: 250px;
}
.main-10 {
  background-color: black;

  width: 100%;
  height: 40vh;
}
.heading-1 {
  color: white;
  font-size: 15px;
  padding-top: 60px;
}
.heading-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  position: relative;
  z-index: 10;
}
.gap-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.last {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 25px;
  background-color: black;
  color: white;
}
